body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CARD */
.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeIn 0.5s ease-in-out;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #667eea;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

:root {
  --bg-light: linear-gradient(135deg, #667eea, #764ba2);
  --bg-dark: linear-gradient(135deg, #141e30, #243b55);

  --card-light: rgba(255, 255, 255, 0.2);
  --card-dark: rgba(0, 0, 0, 0.4);

  --text-light: #000;
  --text-dark: #fff;
}

/* DEFAULT LIGHT */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg-light);
  color: var(--text-light);
  transition: 0.3s;
}

/* DARK MODE */
body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}

/* GLASS CARD */
.glass {
  backdrop-filter: blur(15px);
  background: var(--card-light);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  transition: 0.3s;
}

body.dark .glass {
  background: var(--card-dark);
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* BUTTON */
button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #667eea;
  color: white;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #5a67d8;
}